version: '3'
services:
    scipy-notebook:
        ports:
            - "${JUPYTER_CONTAINER_HOST_PORT}:8888"
            - '8889:8889'
        volumes:
            - "${NOTEBOOK_DIR}:/home/jovyan"
            - "${PERMANENT_STORAGE}:/home/jovyan/permanent_storage/"
        environment:
            - 'JUPYTER_RUNTIME_DIR=/tmp'
            - 'JUPYTER_ENABLE_LAB=yes'
            - 'GLOBAL_LIBRARIES_PATH=/home/jovyan/custom_libraries/'
            - 'PMT_STG_PATH=/home/jovyan/permanent_storage/'
        build:
            context: .
            dockerfile: ${dockerfile_src}
            target: ${dockerfile_target}
        image: ${registry}/${repositoryName}:${versionNumber}
